GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

OUTLOOK_CLIENT_ID=
OUTLOOK_CLIENT_SECRET=

APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=

# URLs de retorno para cadastrar nos provedores:
# http://127.0.0.1:5000/cliente/oauth/google/callback
# http://127.0.0.1:5000/cliente/oauth/outlook/callback
# http://127.0.0.1:5000/cliente/oauth/apple/callback
