[Unit]
Description=Etisul Flask App
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/etisul
EnvironmentFile=/var/www/etisul/.env
ExecStart=/var/www/etisul/.venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

